.bg-nav {
    background: #000;
  }

  /* LOGO */
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-nav .nav-link.active {
  color: rgba(252,171,0,255)!important /* Puedes ajustar el color según tus preferencias */
}

.navbar-nav .nav-link {
  color: white; /* Puedes ajustar el color según tus preferencias */
  font-size: 16px!important

}

.navbar-nav .nav-link:hover{
  color: rgba(252,171,0,255)!important /* Puedes ajustar el color según tus preferencias */

}

.blanco{
  color: white; /* Puedes ajustar el color según tus preferencias */
  font-size: large;
}

.blanco:hover{
  color: rgba(252,171,0,255) /* Puedes ajustar el color según tus preferencias */

}

/* NO REDIMENSIONAR EL TEXTARE*/

.textarea{
  resize: none;
}

.icon{
  max-width: 22px;
  height: auto;
}






/* CONFIGURACION TAB VERTICAL PARA EL DETALLE DE REPORTE*/
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.color-header-detalle{
  background-color: #DEDEDE;
}


/* PILL */

.nav-pills .nav-link1.active,
.show>.nav-pills .nav-link1{
  border-style: none;
  background: rgba(252,171,0,255) !important
}

.nav-link1{
  border-style:solid ;
  border-color: rgba(252,171,0,255);
  background-color: white;
  border-width: 4px !important
  
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgba(252,171,0,255);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

#elementosPorPagina {
  padding: 5px;
  background-color: #fff;
  margin-right: 10px;
}
#paginacion button {
  padding: 5px 5px;
  background-color: rgba(252,171,0,255);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  margin-right: none;
}

#paginacion button:hover {
  background-color: rgba(255,202,91,255);
}

/* Estilo para el control de selección */
#elementosPorPagina {
  padding: 5px;
  background-color: #fff;
}

th[data-ordenar] {
  cursor: pointer;
  text-decoration: none;
}

.swal2-styled.swal2-confirm.swalBtnColor {
  background-color: #FFC900
  
}